<div class="jumbotron" id="letsvote">
    <div id="chartContainer">
        <highchart id="chart1" config="chartConfig"></highchart>
    </div>
    <div id="stockform">  
        <form class="form-inline" role="form" ng-submit="addStock()">
          <div class="form-group">
            <label >Add Stock Symbol:</label>
            <input  class="form-control" placeholder="stock name" ng-model="stockName" required>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    
    <ul class="list-inline">
        <li class="list-group-item" ng-repeat="stock in stocks track by $index">
           <div class="col-md-2">
            <p class="col-md-1">{{stock.name}}</p>
            <span class="glyphicon glyphicon-remove-circle col-md-1 clickDelete" ng-click="deleteStock($index)"></span>
           </div>
        </li>
    </ul> 
</div>


